@import "tailwindcss";

.ca-underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 50%;                 /* underline length */
  background-color: var(--secondary-color); /* CA orange */
}

/* Force no scrollbar on html/body in iframe */
html {
  overflow: hidden !important;
  height: auto !important;
}

body {
  overflow: visible !important;
  height: auto !important;
  margin: 0;
  padding: 0;
}

#root {
  overflow: visible !important;
  height: auto !important;
}